In [1]:
'''Q1. What is data encoding? How is it useful in data science?
-->Data encoding involves converting a sequence of text characters into binary code.
It can be used to convert categorical data to numerical data during data pre-processing
as input to a machine learning model to get effective output.
'''

'Q1. What is data encoding? How is it useful in data science?\n-->Data encoding involves converting a sequence of text characters into binary code.\nIt can be used to convert categorical data to numerical data during data pre-processing\nas input to a machine learning model to get effective output.\n'

In [2]:
'''Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.
-->When we have a feature where variables are just names and there is no order or rank to this variable's features then nominal encoding is used to convert such data to 
numerical values. 
'''
li=['blue','green','blue','red','blue','green','blue','red']
from sklearn.preprocessing import OneHotEncoder

In [3]:
import pandas as pd
encoder = OneHotEncoder()

In [4]:
df=pd.DataFrame(li,columns=['color'])
df

   color
0   blue
1  green
2   blue
3    red
4   blue
5  green
6   blue
7    red

In [5]:
encoder.fit(df[['color']])

OneHotEncoder()

In [6]:
data = pd.DataFrame(encoder.transform(df[['color']]).toarray(),columns=['color_blue', 'color_green', 'color_red'])

In [7]:
data

   color_blue  color_green  color_red
0         1.0          0.0        0.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0
5         0.0          1.0        0.0
6         1.0          0.0        0.0
7         0.0          0.0        1.0

In [8]:
df1 = pd.concat([df,data],axis=1)

In [9]:
df1

   color  color_blue  color_green  color_red
0   blue         1.0          0.0        0.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0
5  green         0.0          1.0        0.0
6   blue         1.0          0.0        0.0
7    red         0.0          0.0        1.0

In [10]:
'''Q3. In what situations is nominal encoding preferred over one-hot encoding?
--> Nominal encoding is preferred over One Hot Encoding when the number of features in each categorical variable is less.
'''

'Q3. In what situations is nominal encoding preferred over one-hot encoding?\n--> Nominal encoding is preferred over One Hot Encoding when the number of features in each categorical variable is less.\n'

In [11]:
'''Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding 
technique would you use to transform this data into a format suitable for machine learning algorithms?
--> If the unique categories do not follow a rank we will use nominal encoding or one hot encoding for the 
conversion of the categorical features into numerical features.
'''

'Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding \ntechnique would you use to transform this data into a format suitable for machine learning algorithms?\n--> If the unique categories do not follow a rank we will use nominal encoding or one hot encoding for the \nconversion of the categorical features into numerical features.\n'

In [12]:
'''Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns 
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to 
transform the categorical data, how many new columns would be created?
--> The number of new columns created are as many as the unique categories in the two categorical columns.
'''

'Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns \nare categorical, and the remaining three columns are numerical. If you were to use nominal encoding to \ntransform the categorical data, how many new columns would be created?\n--> The number of new columns created are as many as the unique categories in the two categorical columns.\n'

In [13]:
'''Q6. You are working with a dataset containing information about different types of animals, including their 
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into 
a format suitable for machine learning algorithms?
-->One Hot Encoding can be used in this case for the machine learning algorithm to perform efficiently.
'''

'Q6. You are working with a dataset containing information about different types of animals, including their \nspecies, habitat, and diet. Which encoding technique would you use to transform the categorical data into \na format suitable for machine learning algorithms?\n-->One Hot Encoding can be used in this case for the machine learning algorithm to perform efficiently.\n'

In [14]:
'''Q7.You are working on a project that involves predicting customer churn for a telecommunications 
company. You have a dataset with 5 features, including the customer's gender, age, contract type, 
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical 
data into numerical data?
-->One Hot Encoding and Nominal Encoding can be used in this case for the machine learning algorithm to perform efficiently.
'''

"Q7.You are working on a project that involves predicting customer churn for a telecommunications \ncompany. You have a dataset with 5 features, including the customer's gender, age, contract type, \nmonthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical \ndata into numerical data?\n-->One Hot Encoding and Nominal Encoding can be used in this case for the machine learning algorithm to perform efficiently.\n"