In [1]:
'''Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.
'''
data = {
    'hours':[2,6,10,4,14,5],
    'score':[45,75,98,30,88,60]
}
import pandas as pd
df = pd.DataFrame(data)
df.head()

   hours  score
0      2     45
1      6     75
2     10     98
3      4     30
4     14     88

In [2]:
df.corr(method='pearson')

          hours     score
hours  1.000000  0.816723
score  0.816723  1.000000

In [3]:
'''We find that the number of hours studied is highly positively correlated to the score obtained by the student.'''

'We find that the number of hours studied is highly positively correlated to the score obtained by the student.'

In [4]:
'''Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.
'''
data = {
    'sleep':[6,8,4,10,7,6],
    'satisfaction_index':[5,5,2,4,3,4]
}
df = pd.DataFrame(data)
df

   sleep  satisfaction_index
0      6                   5
1      8                   5
2      4                   2
3     10                   4
4      7                   3
5      6                   4

In [5]:
df.corr(method='spearman')

                       sleep  satisfaction_index
sleep               1.000000            0.388103
satisfaction_index  0.388103            1.000000

In [6]:
'''We can see that sleeping hours and job satisfaction is not really correlated and hence job satisfaction depends on many other factors except for the number of hours slept.'''

'We can see that sleeping hours and job satisfaction is not really correlated and hence job satisfaction depends on many other factors except for the number of hours slept.'

In [7]:
'''Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.
'''
import random
hours=[]
bmi=[]
for i in range(50):
    hours.append(random.randint(0,100))
    bmi.append(random.uniform(10,45))

In [8]:
df = pd.DataFrame({
    'hours':hours,
    'bmi':bmi
})

In [9]:
df.head()

   hours        bmi
0      3  10.008640
1     59  31.305545
2     44  41.233279
3     31  37.875127
4     77  24.453147

In [10]:
len(df)

50

In [11]:
df.corr(method='pearson')

          hours       bmi
hours  1.000000  0.140137
bmi    0.140137  1.000000

In [12]:
df.corr(method='spearman')

          hours       bmi
hours  1.000000  0.115845
bmi    0.115845  1.000000

In [13]:
'''From the pearson and the spearman correlation coefficient we can see that the number of hours of exercise is not really correlated to the bmi of a person.'''

'From the pearson and the spearman correlation coefficient we can see that the number of hours of exercise is not really correlated to the bmi of a person.'

In [14]:
'''Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.
'''
watching_television = []
physical_activity = []
for _ in range(50):
    watching_television.append(random.randint(0,20))
    physical_activity.append(random.randint(1,10))

In [15]:
df = pd.DataFrame({
    'watching_television':watching_television,
    'physical_activity':physical_activity
})

In [16]:
df.head()

   watching_television  physical_activity
0                   15                 10
1                   18                  5
2                   20                  4
3                    6                  1
4                   17                  7

In [17]:
df.corr(method='pearson')

                     watching_television  physical_activity
watching_television             1.000000          -0.121159
physical_activity              -0.121159           1.000000

In [18]:
'''According to the generated data and by analyzing the pearson correlation coefficient of the data we can see that both features are not correlated'''

'According to the generated data and by analyzing the pearson correlation coefficient of the data we can see that both features are not correlated'

In [19]:
'''Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink.
'''
df = pd.DataFrame({
    'age':[25,42,37,19,31,28],
    'soft_drink_preference':['Coke','Pepsi','Mountain dew','Coke','Pepsi','Coke']
})
df

   age soft_drink_preference
0   25                  Coke
1   42                 Pepsi
2   37          Mountain dew
3   19                  Coke
4   31                 Pepsi
5   28                  Coke

In [20]:
df1=pd.get_dummies(df['soft_drink_preference'],drop_first=True)

In [21]:
df1

   Mountain dew  Pepsi
0             0      0
1             0      1
2             1      0
3             0      0
4             0      1
5             0      0

In [22]:
df2 = pd.concat([df,df1],axis=1)

In [23]:
df2

   age soft_drink_preference  Mountain dew  Pepsi
0   25                  Coke             0      0
1   42                 Pepsi             0      1
2   37          Mountain dew             1      0
3   19                  Coke             0      0
4   31                 Pepsi             0      1
5   28                  Coke             0      0

In [24]:
'''Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.
'''
sales_call=[]
sales=[]
for _ in range(30):
    sales_call.append(random.randint(0,100))
    sales.append(random.randint(0,100))

In [25]:
df = pd.DataFrame({
    'sales_call':sales_call,
    'sales':sales
})

In [26]:
df.head()

   sales_call  sales
0          86     33
1          64      8
2          31     42
3          40     77
4          85     87

In [27]:
df.corr(method='pearson')

            sales_call     sales
sales_call    1.000000  0.115881
sales         0.115881  1.000000

In [28]:
'''According to the pearson correlation coefficient of the generated data the two  variables are not much related'''

'According to the pearson correlation coefficient of the generated data the two  variables are not much related'