In [1]:
'''Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.
--> Ordinal encoding is used when any categorical variable has natural order between the different categories whereas label encoding is used when a categorical variable
does not have associated natural ordering and hence, orgering has to be specified.
'''

'Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you\nmight choose one over the other.\n--> Ordinal encoding is used when any categorical variable has natural order between the different categories whereas label encoding is used when a categorical variable\ndoes not have associated natural ordering and hence, orgering has to be specified.\n'

In [2]:
'''Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project.
-->Target-guided ordinal encoding is a technique used to encode categorical variables for machine learning models. This encoding technique is particularly useful when the target variable is ordinal, meaning that it has a natural order, 
such as low, medium, and high.
'''

'Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in\na machine learning project.\n-->Target-guided ordinal encoding is a technique used to encode categorical variables for machine learning models. This encoding technique is particularly useful when the target variable is ordinal, meaning that it has a natural order, \nsuch as low, medium, and high.\n'

In [3]:
'''Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?
-->Covariance is a measure of the relationship between two random variables. Covariance indicates whether two variables fluctuate in the same (positive covariance) or opposite direction (negative covariance).
Covariance is calculated by multiplying the correlation between the two random variables by the standard deviation of each variable.
'''

'Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?\n-->Covariance is a measure of the relationship between two random variables. Covariance indicates whether two variables fluctuate in the same (positive covariance) or opposite direction (negative covariance).\nCovariance is calculated by multiplying the correlation between the two random variables by the standard deviation of each variable.\n'

In [4]:
'''Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
'''
data = {
    'color' : ['red','blue','green','blue','green','red'],
    'size' : ['large','small','large','medium','medium','small'],
    'material' : ['plastic','metal','wood','plastic','metal','wood']
}
import pandas as pd

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   color    size material
0    red   large  plastic
1   blue   small    metal
2  green   large     wood
3   blue  medium  plastic
4  green  medium    metal
5    red   small     wood

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [11]:
df['color_encoded'] = encoder.fit_transform(df['color'])

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
enc = OrdinalEncoder()
df['size_encoded'] = enc.fit_transform(df[['size']])

In [16]:
df

   color    size material  color_encoded  size_encoded
0    red   large  plastic              2           0.0
1   blue   small    metal              0           2.0
2  green   large     wood              1           0.0
3   blue  medium  plastic              0           1.0
4  green  medium    metal              1           1.0
5    red   small     wood              2           2.0

In [17]:
mat = {
    'metal': 3,
    'wood' : 2,
    'plastic' :1
}

In [18]:
df['material_encoded'] = df['material'].map(mat)

In [19]:
df

   color    size material  color_encoded  size_encoded  material_encoded
0    red   large  plastic              2           0.0                 1
1   blue   small    metal              0           2.0                 3
2  green   large     wood              1           0.0                 2
3   blue  medium  plastic              0           1.0                 1
4  green  medium    metal              1           1.0                 3
5    red   small     wood              2           2.0                 2

In [20]:
'''Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.
'''
data = {
    'age':[30,23,27,35,40,25],
    'income':[80000,35000,100000,60000,75000,20000],
    'education':[3,2,4,3,3,1]
}

In [21]:
df = pd.DataFrame(data)

In [22]:
df

   age  income  education
0   30   80000          3
1   23   35000          2
2   27  100000          4
3   35   60000          3
4   40   75000          3
5   25   20000          1

In [23]:
df.cov()

               age        income     education
age           41.6  8.100000e+04      2.800000
income     81000.0  8.866667e+08  29666.666667
education      2.8  2.966667e+04      1.066667

In [24]:
'''Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?
-->For age as there isn't any order we could use One Hot Encoding.
For education level since they have importance in determing the employment status could be Label encoded.
For unemployment status we could use target guided encoding as it could be used as the target variable
'''

'Q6. You are working on a machine learning project with a dataset containing several categorical\nvariables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor\'s/Master\'s/PhD),\nand "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for\neach variable, and why?\n-->For age as there isn\'t any order we could use One Hot Encoding.\nFor education level since they have importance in determing the employment status could be Label encoded.\nFor unemployment status we could use target guided encoding as it could be used as the target variable\n'