In [1]:
#Q1
#'def' keyword is used to create a function
def odd_list():
    l1=[]
    for i in range(1,25):
        if(i%2!=0):
            l1.append(i)
    return l1

In [2]:
odd_list()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [3]:
#Q2
#'*args' is used to pass a variable number of arguments. '**kwargs' is used to pass a keyworded, variable-length argument list
def summation(*args):
    result=0
    for arg in args:
        result+=arg
    return result

def type_of_object(**kwargs):
    l1=[]
    for key,value in kwargs.items():
        l1.append((key,type(value)))
    return l1

In [4]:
summation(1,2,3,4,5)

15

In [5]:
type_of_object(a='time',b=11,c=8.17,d=[2,4,6,8],e=('year',2023),f={3,5,7,9},g=8+3j)

[('a', str),
 ('b', int),
 ('c', float),
 ('d', list),
 ('e', tuple),
 ('f', set),
 ('g', complex)]

In [6]:
#Q3.
#Iterator is an object that is used to iterate over iterable objects like lists,tuples,sets etc. iter() method is used to initialize the iterator
#object and next() method is used for the iteration.
l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
l1 = iter(l)

In [7]:
for i in range(5):
    print(next(l1))

2
4
6
8
10

In [8]:
#Q4.
#Generator function is a function that returns an iterator that produces a sequence of values when iterated over.
#The yield keyword is used to produce a value from the generator function.
def square(n):
    for i in range(1,n+1):
        yield i**2

In [9]:
sq = square(8)

In [10]:
for i in range(1,9):
    print(next(sq))

1
4
9
16
25
36
49
64

In [11]:
#Q5.
def primes(n):
    for i in range(2,n):
        for j in range(2,int(i/2)+1):
            if(i%j==0):
                break
        else:
            yield i

In [12]:
pr = primes(1000)

In [13]:
for i in range(20):
    print(next(pr))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [14]:
#Q6.
def fibonacci(n):
    a, b = 0, 1
    i=0
    while(i<n):
        print(a)
        b = a+b
        a = b-a
        i+=1

In [15]:
n = int(input("Enter the number of terms to be calculated: "))
fibonacci(n)

Enter the number of terms to be calculated:  10

0
1
1
2
3
5
8
13
21
34

In [16]:
#Q7.
string = "pwskills"
[s for s in string]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [17]:
#Q8.
def palindrome(num):
    n = num
    l = 0
    while(n!=0):
        l=l*10+n%10
        n=int(n/10)
        
    if(l==num):
        return True
    else:
        return False

In [18]:
a = int(input("Enter the number to be checked for palindrome: "))
palindrome(a)

Enter the number to be checked for palindrome:  1178711

True

In [19]:
#Q9.
l = [x for x in range(1,100)]
[x for x in l if x%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]