In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''
A database is an organised collection of data which allows easy access to, management of and updation of the data.

1. SQL databases are relational databases while NOSQL databases are non relational databases.
2. SQL databases deals with structured data whereas NOSQL databases deals with unstructured data.
3. SQL databases are table-based databases whereas NOSQL databases are not table based databases.
4. SQL databases follows ACID properties whereas NOSQL databases follows the Brewers CAP theorem.
'''

'\nA database is an organised collection of data which allows easy access to, management of and updation of the data.\n\n1. SQL databases are relational databases while NOSQL databases are non relational databases.\n2. SQL databases deals with structured data whereas NOSQL databases deals with unstructured data.\n3. SQL databases are table-based databases whereas NOSQL databases are not table based databases.\n4. SQL databases follows ACID properties whereas NOSQL databases follows the Brewers CAP theorem.\n'

In [2]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''
Data Definition Language(DDL) is used to create and modify the structure of database objects in a database.
CREATE statement is used to create databases,tables etc. For eg: CREATE DATABASE test
DROP statement is used to remove the data definition of a table and all the data and related specifications associated with the table. For eg:
DROP TABLE test.test_table
ALTER helps us to change the overall characteristics of the database. For eg: ALTER TABLE test.test_table ADD c6 varchar(80)
TRUNCATE quickly deletes all records in a table by deallocating the data pages used by the table. For eg:
TRUNCATE TABLE  test.test_table;
'''

'\nData Definition Language(DDL) is used to create and modify the structure of database objects in a database.\nCREATE statement is used to create databases,tables etc. For eg: CREATE DATABASE test\nDROP statement is used to remove the data definition of a table and all the data and related specifications associated with the table. For eg:\nDROP TABLE test.test_table\nALTER helps us to change the overall characteristics of the database. For eg: ALTER TABLE test.test_table ADD c6 varchar(80)\nTRUNCATE quickly deletes all records in a table by deallocating the data pages used by the table. For eg:\nTRUNCATE TABLE  test.test_table;\n'

In [4]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''
Data Manipulation Language(DML) allows users to manipulate the data in a database.
INSERT statement is used to insert data into tables in a database. FOR eg: INSERT INTO table VALUES(val1,val2)
UPDATE statement is used to update the data in a database table. For eg: UPDATE table SET c1 = v1, c2 = v2 WHERE condition
DELETE statement is used to delete the data or contents of a table without affecting the structure of the table. For eg: DELETE TABLE test
'''

'\nData Manipulation Language(DML) allows users to manipulate the data in a database.\nINSERT statement is used to insert data into tables in a database. FOR eg: INSERT INTO table VALUES(val1,val2)\nUPDATE statement is used to update the data in a database table. For eg: UPDATE table SET c1 = v1, c2 = v2 WHERE condition\nDELETE statement is used to delete the data or contents of a table without affecting the structure of the table. For eg: DELETE TABLE test\n'

In [5]:
#Q4. What is DQL? Explain SELECT with an example.
'''
Data Query Language(DQL) is used to get and organize the data in the database.
SELECT statement is used to select data from a database. For eg: SELECT * FROM table. 
This returns all data present in the table.
'''

'\nData Query Language(DQL) is used to get and organize the data in the database.\nSELECT statement is used to select data from a database. For eg: SELECT * FROM table. \nThis returns all data present in the table.\n'

In [6]:
#Q5. Explain Primary Key and Foreign Key.
'''
Primary key in a table is an attribute or  collection of attributes which uniquely identifies each row of the table in a database.
Foreign key in a table is an attribute or a collection of attributes which references to a primary key of a table which establishes a link between
the two tables.
'''

'\nPrimary key in a table is an attribute or  collection of attributes which uniquely identifies each row of the table in a database.\nForeign key in a table is an attribute or a collection of attributes which references to a primary key of a table which establishes a link between\nthe two tables.\n'

In [7]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''
import mysql.connector
mydb = mysql.connector.connect(
host = "host_name",
user = "usernme",
password = "password"
)
mycursor = mydb.cursor()

cursor() is a database object that allows us to retrieve each row at a time and manipulate its data.
The execute() method allows us to perform/execute a specified query.
'''

'\nimport mysql.connector\nmydb = mysql.connector.connect(\nhost = "host_name",\nuser = "usernme",\npassword = "password"\n)\nmycursor = mydb.cursor()\n\ncursor() is a database object that allows us to retrieve each row at a time and manipulate its data.\nThe execute() method allows us to perform/execute a specified query.\n'

In [8]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
'''
The order of execution of SQL clauses in an SQL query in descending order is:
1. FROM/JOIN
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT/OFFSET
'''

'\nThe order of execution of SQL clauses in an SQL query in descending order is:\n1. FROM/JOIN\n2. WHERE\n3. GROUP BY\n4. HAVING\n5. SELECT\n6. ORDER BY\n7. LIMIT/OFFSET\n'